APP_NAME=Auto Posting API
APP_ENV=local
DEBUG=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=auto_posting
POSTGRES_USER=auto_posting
POSTGRES_PASSWORD=auto_posting

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
